In [7]:
# Import Team Data
import pandas as pd
team_data_df = pd.read_csv('../unprocessed-data/team-data/nba_team_win_totals.csv')
# Check if load correctly
pd.set_option('display.max_columns', None)
team_data_df

,Rk,Season,Lg,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,1.0,2024-25,NBA,14.0,21,10.0,12.0,7.0,23.0,17.0,14.0,11.0,14,17.0,12.0,15.0,14.0,18.0,13.0,14.0,14.0,5.0,16,20.0,17.0,8.0,14.0,8.0,13.0,13.0,7.0,5.0,3.0
1,2.0,2023-24,NBA,36.0,64,32.0,39.0,21.0,48.0,50.0,57.0,14.0,46,41.0,47.0,51.0,47.0,27.0,46.0,49.0,56.0,49.0,50,57.0,47.0,47.0,49.0,21.0,46.0,22.0,25.0,31.0,15.0
2,3.0,2022-23,NBA,41.0,57,45.0,40.0,27.0,51.0,38.0,53.0,17.0,44,22.0,35.0,44.0,43.0,51.0,44.0,58.0,42.0,42.0,47,40.0,34.0,54.0,45.0,33.0,48.0,22.0,41.0,37.0,35.0
3,4.0,2021-22,NBA,43.0,51,44.0,46.0,43.0,44.0,52.0,48.0,23.0,53,20.0,25.0,42.0,33.0,56.0,53.0,51.0,46.0,36.0,37,24.0,22.0,51.0,64.0,27.0,30.0,34.0,48.0,49.0,35.0
4,5.0,2020-21,NBA,41.0,36,48.0,31.0,33.0,22.0,42.0,47.0,20.0,39,17.0,34.0,47.0,42.0,38.0,40.0,46.0,23.0,31.0,41,22.0,21.0,49.0,51.0,42.0,31.0,33.0,27.0,52.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,76.0,1949-50,NBA,29.0,22,NaN,NaN,NaN,NaN,NaN,NaN,40.0,26,NaN,NaN,NaN,51.0,NaN,NaN,NaN,NaN,NaN,40,NaN,NaN,51.0,NaN,NaN,51.0,NaN,NaN,NaN,NaN
76,77.0,1948-49,BAA,NaN,25,NaN,NaN,NaN,NaN,NaN,NaN,22.0,28,NaN,NaN,NaN,44.0,NaN,NaN,NaN,NaN,NaN,32,NaN,NaN,NaN,NaN,NaN,45.0,NaN,NaN,NaN,NaN
77,78.0,1947-48,BAA,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,79.0,1946-47,BAA,NaN,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,Total,NaN,2941.0,3655,1664.0,2395.0,1181.0,2055.0,1814.0,1968.0,2838.0,2983,2386.0,1942.0,1858.0,3564.0,1016.0,1534.0,2403.0,1161.0,836.0,2990,2490.0,1332.0,3109.0,2443.0,2300.0,2761.0,2318.0,1103.0,2182.0,2275.0

In [8]:
# Modify 'Season' values from '2023-2024' to '2023
team_data_df['Season'] = team_data_df['Season'].str.split('-').str[0]
# Drop Lg (League) and Rk (Rank) columns
team_data_df = team_data_df.drop(columns=['Lg', 'Rk'])
# Drop all rows with column 'Season' < 1980 (player data only up until then) and 'Season' = Total (needs recalculation)
team_data_df = team_data_df[team_data_df['Season'] != 'Total']
team_data_df = team_data_df[team_data_df['Season'].astype(int) >= 1980]
# Check
team_data_df.head()

,Season,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,2024,14.0,21,10.0,12.0,7.0,23.0,17.0,14.0,11.0,14,17.0,12.0,15.0,14.0,18.0,13.0,14.0,14.0,5.0,16,20.0,17.0,8.0,14.0,8.0,13.0,13.0,7.0,5.0,3.0
1,2023,36.0,64,32.0,39.0,21.0,48.0,50.0,57.0,14.0,46,41.0,47.0,51.0,47.0,27.0,46.0,49.0,56.0,49.0,50,57.0,47.0,47.0,49.0,21.0,46.0,22.0,25.0,31.0,15.0
2,2022,41.0,57,45.0,40.0,27.0,51.0,38.0,53.0,17.0,44,22.0,35.0,44.0,43.0,51.0,44.0,58.0,42.0,42.0,47,40.0,34.0,54.0,45.0,33.0,48.0,22.0,41.0,37.0,35.0
3,2021,43.0,51,44.0,46.0,43.0,44.0,52.0,48.0,23.0,53,20.0,25.0,42.0,33.0,56.0,53.0,51.0,46.0,36.0,37,24.0,22.0,51.0,64.0,27.0,30.0,34.0,48.0,49.0,35.0
4,2020,41.0,36,48.0,31.0,33.0,22.0,42.0,47.0,20.0,39,17.0,34.0,47.0,42.0,38.0,40.0,46.0,23.0,31.0,41,22.0,21.0,49.0,51.0,42.0,31.0,33.0,27.0,52.0,34.0

In [ ]:
# Remove unnecessary decimals (Wins can only be whole numbers)
team_data_df = team_data_df.apply(pd.to_numeric, errors='ignore').astype('Int64', errors='ignore')

# Check
team_data_df

,Season,ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
0,2024,14,21,10,12,7,23,17,14,11,14,17,12,15,14,18,13,14,14,5,16,20,17,8,14,8,13,13,7,5,3
1,2023,36,64,32,39,21,48,50,57,14,46,41,47,51,47,27,46,49,56,49,50,57,47,47,49,21,46,22,25,31,15
2,2022,41,57,45,40,27,51,38,53,17,44,22,35,44,43,51,44,58,42,42,47,40,34,54,45,33,48,22,41,37,35
3,2021,43,51,44,46,43,44,52,48,23,53,20,25,42,33,56,53,51,46,36,37,24,22,51,64,27,30,34,48,49,35
4,2020,41,36,48,31,33,22,42,47,20,39,17,34,47,42,38,40,46,23,31,41,22,21,49,51,42,31,33,27,52,34

In [10]:
# Write the prepared team data to a CSV file
file_path = '../processed-data/prepared_team_win_data.csv'
team_data_df.to_csv(file_path, index=False)
print("Data written to: ", file_path)

Data written to:  ../processed-data/prepared_team_win_data.csv